# AWS Configuration
region      = "us-east-1"
aws_profile = "terra-abdu"

# EKS Cluster Configuration
cluster_name                    = "abdu-gitops-cluster"
cluster_version                 = "1.33"
cluster_endpoint_public_access  = true
cluster_endpoint_private_access = false

# Node Group Configuration
node_instance_types = ["t3.small"]
node_min_size       = 1
node_max_size       = 3
node_desired_size   = 2

# VPC Configuration
vpc_name           = "abdu-gitops-vpc"
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]
private_subnets    = ["10.0.1.0/24", "10.0.2.0/24"]
public_subnets     = ["10.0.101.0/24", "10.0.102.0/24"]
enable_nat_gateway = true
enable_vpn_gateway = false

# EKS Add-ons
enable_ebs_csi_driver = true